.row
  .span6.offset3
    = link_to 'Зарегистрировать организацию', new_user_registration_path, :class => 'btn btn-success btn-large'
    = link_to 'Записаться на прием', Organization, :class => 'btn btn-primary btn-large'
%br/
%br/
