.block-area#statistic
  .row
    %h3 Общее количество выполненных услуг
    #services_flot{style: 'float:left;width:675px;height: 400px;background:white;'}
    %p#services_flot_legend{style: 'float:left;padding-left:20px;width: 200px;background: white;'}
    %p#services_flot_choices{style: 'float:left;padding-left:20px;width: 200px;'}
