@mixin left_menu($content)
{
  font-family: 'ios7-icon';
  &:before {
    font-size: 25px;
    content: $content;
  }
}

@mixin m-icon($content)
{
  font-family: 'ios7-icon';
  &:before {
    content: $content;
  }
}
