#top-menu.media
  - if owner_or_worker?
    .pull-left.tm-icon
      = link_to '/notifications' do
        %i.sa-top-message
        %i.n-count.animated
          = @organization.sms_ru.try(:balance)
          руб.
        %span СМС уведомления
  #time.pull-right
    %span#hours
    \:
    %span#min
    \:
    %span#sec
