%ul.nav.navbar-nav
  %li.nav-item.active
    %a.nav-link{:href => "#"}
      Home
      %span.sr-only (current)
  %li.nav-item
    %a.nav-link{:href => "#"} About
  %li.nav-item
    %a.nav-link{:href => "#"} Contact
