%h2 Подтверждение телефона

На указанный вами телефон был отправлен секретный код. Введите его для подтверждения вашей учетной записи
= form_tag [:confirming_phone, @user] do
  = text_field_tag :confirmation_number

  .form-actions
    = submit_tag "Подтвердить", :class => 'btn btn-primary'
    = link_to 'Отправить снова', '#', :class => 'btn btn-warning'
