.block-area#statistic
  .row
    .col-md-4
      #appointments_flot{style: 'float:left;width:675px;height: 400px;background:white;'}
      %p#appointments_flot_choices{style: 'float:right;width: 150px;'}
