.block-area#statistic
  .row
    %h3 Количество записей
    #appointments_flot{style: 'float:left;width:675px;height: 400px;background:white;'}
    %p#appointments_flot_legend{style: 'float:left;padding-left:20px;width: 200px;background: white;'}
    %p#appointments_flot_choices{style: 'float:left;padding-left:20px;width: 200px;'}
  .row
    %h3 Количество клиентов
    #users_flot{style: 'float:left;width:675px;height: 400px;background:white;'}
    %p#users_flot_legend{style: 'float:left;padding-left:20px;width: 200px;background: white;'}
    %p#users_flot_choices{style: 'float:left;padding-left:20px;width: 200px;'}
