.header
  .container
    %br/
    %br/
    .row{ :style => 'height: 260px' }
      .span12
        #HeadCarousel.carousel
          .carousel-inner
            .active.item
              Наш сервис разработан таким образом, что бы сокращать процесс участия Вас в записи до минимума. Вы можете лишь несколько раз в день бегло просматривать свой график, только тогда, когда это удобно именно Вам.
            .item
              Сервис работает круглосуточно. Значит Ваш клиент в любое время может осуществить запись.
            .item
              Вы заранее можете ограничить возможность для записи. Как по дням недели, так и по праздничным дням.
    %br/
    %br/
  .fx-header
.main-upper
  .fx-main-upper
  .container
    %br/
    .row
      .span6.offset3
        = link_to 'Зарегистрировать организацию', '#', :class => 'btn btn-success btn-large'
        = link_to 'Записаться на прием', '#', :class => 'btn btn-primary btn-large'
    %br/
    %br/
.main-lower
  .fx-main-lower
