%aside.left-off-canvas-menu
  .mobile-navi
    %form.mobile-search{:method => "get"}
      %label.sr-only{:for => "m-search"}
      %input#m-search.form-control.input-lg{:name => "m-search", :placeholder => "Search", :type => "text"}/
      %button{:type => "submit"}
        %i.flaticon-search100
    %ul.buttons
      %li.lang
        %a{:href => "#"}
          Eng
          %i
        %ul.submenu
          %li
            %a{:href => "#"} Deu
          %li
            %a{:href => "#"} Esp
          %li
            %a{:href => "#"} Jpn
      %li.currency
        %a{:href => "#"}
          $ Usd
          %i
        %ul.submenu
          %li
            %a{:href => "#"} € Eur
          %li
            %a{:href => "#"} £ Gbp
          %li
            %a{:href => "#"} ¥ Yen
    %ul.buttons
      %li
        %a{:href => "login.html"} Login
      %li
        %a{:href => "signup.html"} Sign Up
    %ul
      %li.current
        %a{:href => "index.html"} Home
        %span
        %ul.submenu
          %li
            %a{:href => "home-business-law.html"} Home Business
            %span
            %ul.sub-submenu
              %li
                %a{:href => "home-business-law.html"} Lawyer Services
              %li
                %a{:href => "home-business-real-estate.html"} Real Estate
          %li
            %a{:href => "home-portfolio-photographer.html"} Home Portfolio
            %span
            %ul.sub-submenu
              %li
                %a{:href => "home-portfolio-photographer.html"} Photographer
              %li
                %a{:href => "home-portfolio-musician.html"} Musician
          %li
            %a{:href => "home-blog-corporate.html"} Home Blog
            %span
            %ul.sub-submenu
              %li
                %a{:href => "home-blog-personal.html"} Personal Blog
              %li
                %a{:href => "home-blog-corporate.html"} Corporate Blog
          %li
            %a{:href => "home-shop-catalog.html"} Home E-Commerce
            %span
            %ul.sub-submenu
              %li
                %a{:href => "home-shop-catalog.html"} Home Catalog
              %li
                %a{:href => "home-shop-featured-product.html"} Featured Product
          %li
            %a{:href => "home-events.html"} Home Events
          %li
            %a{:href => "home-startup.html"} Home Startup
          %li
            %a{:href => "home-landing.html"} Home Landing
          %li
            %a{:href => "home-services.html"} Home Services
      %li
        %a{:href => "blog-grid-sr.html"} Blog
        %span
        %ul.submenu
          %li
            %a{:href => "blog-grid-sr.html"} Grid Layout
            %span
            %ul.sub-submenu
              %li
                %a{:href => "blog-grid-fw.html"} Grid Full Width
              %li
                %a{:href => "blog-grid-sr.html"} Grid Sidebar Right
              %li
                %a{:href => "blog-grid-sl.html"} Grid Sidebar Left
          %li
            %a{:href => "blog-list-sr.html"} List Layout
            %span
            %ul.sub-submenu
              %li
                %a{:href => "blog-list-fw.html"} List Full Width
              %li
                %a{:href => "blog-list-2cols.html"} List 2 Columns
              %li
                %a{:href => "blog-list-sr.html"} List Sidebar Right
              %li
                %a{:href => "blog-list-sl.html"} List Sidebar Left
          %li
            %a{:href => "blog-single-slider.html"} Single Post
            %span
            %ul.sub-submenu
              %li
                %a{:href => "blog-single-image.html"} Image Post
              %li
                %a{:href => "blog-single-banner.html"} Fullwidth Banner
              %li
                %a{:href => "blog-single-gallery.html"} Gallery Post
              %li
                %a{:href => "blog-single-slider.html"} Slider Post
              %li
                %a{:href => "blog-single-video.html"} Video Post
              %li
                %a{:href => "blog-single-audio.html"} Audio Post
      %li
        %a{:href => "shop-grid-1-big-banner.html", :href => "404.html"} 404 Page
      %li
        %a{:href => "500.html"} 500 Page
      %li
        %a{:href => "sitemap.html"} Sitemap
      %li
        %a{:href => "components-and-styles.html"} Features
        %span
        %ul.submenu
          %li
            %a{:href => "components-and-styles.html"} Components & Styles
          %li
            %a{:href => "sliders-and-carousels.html"} Sliders & Carousels
          %li
            %a{:href => "grid-and-list.html"} Grid & List Layouts
/ Off-Canvas Menu Close
