%wizard(on-finish="alert('stop')")
  %wz-step(title="Выбор даты")
    .row
      .col-md-2
        %datepicker.well(ng-model="date" show-weeks="false" min-date="minDate" starting-day=1)
      .col-md-3
        %div(ng-include='"angular/templates/services_list.html"')
      .col-md-2
        %mwl-calendar{calendar: {events: "events",
          view: "'day'",
          day: {view: { start: "10:00", end: "21:00"}},
          time: {label: "_"},
          event: {click: "eventClicked($event)", label: 'Записи'},
          'edit-event-html' => '"<i class=\'glyphicon glyphicon-pencil\'></i>"',
          'delete-event-html' => '"<i class=\'glyphicon glyphicon-remove\'></i>"',
          'auto-open' => 'true'}}
    %input(type='submit' wz-next value="Continue")
  %wz-step(title="Выбор услуг")
    .row
      %accordion.col-md-8(close-others="true")
        %accordion-group(ng-repeat="worker in workers" heading="{{worker.name}}" is-open="false")
          %accordion-heading(ng-if="currentAppointments[worker.id].length > 0")
            {{worker.name}}
            .pull-right
              %i.glyphicon.glyphicon-ruble
              {{currentAppointments[worker.id] | sumByKey:'cost'}}
              &nbsp;
              %i.glyphicon.glyphicon-time
              {{currentAppointments[worker.id] | sumByKey:'showingTime' | showDuration}}
          .row
            %label.col-md-4(ng-repeat="service in worker.services")
              %checkbox.btn-primary(ng-model="service.checked" ng-change="recountServices()")
              {{service.name}}
              %span.label.label-info(ng-if="service.cost > 0")
                {{service.cost}}
                %i.glyphicon.glyphicon-ruble
      .col-md-4
        %div(ng-include='"angular/templates/services_list.html"')
        %input.btn.btn-lg.btn-success(type='submit' wz-next value="Продолжить" ng-disabled="(currentAppointments | flattenValues).length == 0")
  %wz-step(title="Подтверждение")
