.row
  .span6
    %datepicker.well(ng-model="date" show-weeks="false")

    %accordion(close-others="oneAtATime")
      %accordion-group(ng-repeat="worker in workers" heading="{{worker.name}} - {{worker.phone}}" is-open="false")
        %img(src="{{worker.photo}}")
        %ul
          %li(ng-repeat="service in worker.services")
            {{service.name}}
            &mdash;
            {{service.cost}}
