- if user_signed_in?
  .page-block.double-padding-top.double-space-bottom
    .container.grid-view
      .page-heading.center
        %h2 Календарь
        %h3 Список ваших событий
      .row
        #month_calendar.span10.offset1
