.legend {
  width: 10px;
  padding: 0 15px;
  margin-right: 10px;
  height: 10px;
  border: 1px solid #000;
}

.legend-taken { background: #a90329 !important; }
.legend-offer { background: #a90329  !important; }
.legend-inaccessible, .legend-old-day { background: #a7c7dc !important; }
.legend-missing { background: #4c4c4c !important; }
.legend-your-offer, .legend-complete { background: #006e2e !important; }

.draggable { opacity: 0.3; }
.draggable_calendar { cursor:move }

.external-event {
  background: #7094DB;
  color: #fff;
  width: 122;
  padding: 3px;
  border: 1px solid #3366CC;
}
