.legend {
  width: 10px;
  padding: 0 15px;
  margin-right: 10px;
  height: 10px;
  border: 1px solid #000;
}

.legend-taken { background: #f00 !important; }
.legend-inaccessible { background: #ccc !important; }
.legend-old-day { background: #ccc !important; }
.legend-your-offer { background: #0f0 !important; }

.external-event {
  background: #7094DB;
  color: #fff;
  width: 122;
  padding: 3px;
  border: 1px solid #3366CC;
}
