.header {
  width: 100%;
  position: relative;
  padding-top: 40px;
  background: no-repeat scroll 50% 0 transparent;
  .fx-header {
    background-image: url('sl-t.png');
    bottom: 0;
    height: 45px;
    position: relative;
    width: 100%;
  }
}

.pages_index .header {
  background-image: url('top_img.jpg');
}

.devise_registrations_new .header {
  background-color: #F9F9F9;
  background-image: url('top_img2.jpg');
}

.main-upper {
  background-image: url('bg-light.png');
  .fx-main-upper {
    background-image: url('sl-b.png');
    background-repeat: repeat-x;
    height: 20px;
    position: relative;
    top: 0;
    width: 100%;
  }
}

.main-lower {
  background-image: url('bg-white.png');
  .fx-main-lower {
    background-image: url('sl2.png');
    background-repeat: repeat-x;
    height: 20px;
    position: relative;
    top: 0;
    width: 100%;
  }
}
