= simple_form_for appointment, :remote => true, :format => :js do |f|
  = f.association :services, :as => :check_boxes, :collection => @organization.services.not_collections.order(:name)
  = f.submit 'Изменить', :class => 'btn'
  = link_to 'Отменить', '#', :class => 'btn close_popover', 'data-id' => appointment.id
