%table.table
  %thead
    %tr
      %th Фамилия Имя
      %th Телефон
      %th Действия
  %tbody
    - @phonebook.each do |appointment|
      %tr
        %td
          - if user = appointment.user_by_phone.presence
            = link_to user.name, user
          - else
            = appointment.fullname
        %td
          = appointment.phone
        %td
          = link_to 'Просмотр', user_path(id: appointment.phone), class: 'btn btn-success'
