- content_for :header_title do
  %h2 Список организаций

- @activities.each do |activity|
  - if activity.organizations.any?
    %h3= activity.name
    %ul
      - activity.organizations.each do |org|
        %li= link_to org.name, org
