= link_to 'Записаться на услугу', [:calendar, @organization], :class => 'btn btn-success'
- if current_user && current_user.owner?( @organization )
  = link_to 'Опции', [:edit, @organization], :class => 'btn btn-primary'
  - [Executor, Service, Page, CategoryPhoto].each do |klass|
    = link_to klass.model_name.human, [@organization, klass], :class => 'btn btn-primary'
