= link_to 'Записаться на услугу', '/calendar', :class => 'btn btn-success'
- if current_user && current_user.owner?( @organization )
  = link_to 'Опции', :edit, :class => 'btn btn-primary'
  - [Executor, Service, Page, CategoryPhoto].each do |klass|
    = link_to klass.model_name.human, klass, :class => 'btn btn-primary'
