- content_for :bottom_js do
  = javascript_include_tag 'fullcalendar', 'month_calendar'

= render "organizations/templates/#{['beauty'].include?(@organization.theme) ? @organization.theme : 'default'}"
