%p
  Здравствуйте, #{@resource.email}
%p
  Чтобы восстановить пароль от сайта depilate.ru перейдите по ссылке для восстановления
  = link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :host => 'organizer24.ru'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :host => 'organizer24.ru')
