.navbar-inner
  .container
    - unless defined?(show_big_organization_name) && show_big_organization_name
      = link_to @organization.name, domain_organization_path(@organization), :class => 'brand'
    .nav-collapse
      = render 'layouts/top_menu_content'
