- if current_user
  %br/
  %br/
  %br/
  %br/
  #month_calendar.span10.offset1
- else
  %header.beauty.offset6.span5
    .first_str  BEAUTY IS 
    .second_str EVERYWHERE
    .subtext
      = @organization.index_header
      %br/

    = link_to 'Записаться', '/users/sign_in?remote=true', :class => 'btn btn-primary btn-large', :data => { :colorbox => true }
    = link_to 'Зарегистрироваться', '/users/sign_up?remote=true', :class => 'btn btn-primary btn-large', :data => { :colorbox => true }
