- content_for :bottom_js do
  = javascript_include_tag 'fullcalendar', 'month_calendar'

- if current_user
  %br/
  %br/
  %br/
  %br/
  #month_calendar.span10.offset1
- else
  %header.beauty.offset1
    .first_str  BEAUTY IS 
    .second_str EVERYWHERE
    .subtext
      Здравствуйте, я Золотарёва Анна. Работаю в индустрии красоты с 2009 года. На этом сайте вы можете увидеть мои работы, узнать о моих услугах и записаться на них в удобное для вас время. Спасибо, что Вы остаетесь моим клиентом.

    = link_to 'Записаться', '/users/sign_in?remote=true', :class => 'btn btn-primary btn-large', :data => { :colorbox => true }
