- content_for :left_widgets do
  .side-widgets.overflow
    .s-widget.m-b-25
      %h2.tile-title О нас
      .s-widget-body= @organization.index_header.gsub("\n","</br></br>").html_safe
/ Messages Drawer
#messages.tile.drawer.animated
  .listview.narrow
    .media
      %a{href: ""} Send a New Message
      %span.drawer-close ×
    .overflow{style: "height: 254px"}
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/1.jpg", width: "40"}/
        .media-body
          %small.text-muted Nadin Jackson - 2 Hours ago
          %br/
          %a.t-overflow{href: ""} Mauris consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/2.jpg", width: "40"}/
        .media-body
          %small.text-muted David Villa - 5 Hours ago
          %br/
          %a.t-overflow{href: ""} Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/3.jpg", width: "40"}/
        .media-body
          %small.text-muted Harris worgon - On 15/12/2013
          %br/
          %a.t-overflow{href: ""} Maecenas venenatis enim condimentum ultrices fringilla. Nulla eget libero rhoncus, bibendum diam eleifend, vulputate mi. Fusce non nibh pulvinar, ornare turpis id
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/4.jpg", width: "40"}/
        .media-body
          %small.text-muted Mitch Bradberry - On 14/12/2013
          %br/
          %a.t-overflow{href: ""} Phasellus interdum felis enim, eu bibendum ipsum tristique vitae. Phasellus feugiat massa orci, sed viverra felis aliquet quis. Curabitur vel blandit odio. Vestibulum sagittis quis sem sit amet tristique.
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/1.jpg", width: "40"}/
        .media-body
          %small.text-muted Nadin Jackson - On 15/12/2013
          %br/
          %a.t-overflow{href: ""} Ipsum wintoo consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/2.jpg", width: "40"}/
        .media-body
          %small.text-muted David Villa - On 16/12/2013
          %br/
          %a.t-overflow{href: ""} Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/3.jpg", width: "40"}/
        .media-body
          %small.text-muted Harris worgon - On 17/12/2013
          %br/
          %a.t-overflow{href: ""} Maecenas venenatis enim condimentum ultrices fringilla. Nulla eget libero rhoncus, bibendum diam eleifend, vulputate mi. Fusce non nibh pulvinar, ornare turpis id
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/4.jpg", width: "40"}/
        .media-body
          %small.text-muted Mitch Bradberry - On 18/12/2013
          %br/
          %a.t-overflow{href: ""} Phasellus interdum felis enim, eu bibendum ipsum tristique vitae. Phasellus feugiat massa orci, sed viverra felis aliquet quis. Curabitur vel blandit odio. Vestibulum sagittis quis sem sit amet tristique.
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/5.jpg", width: "40"}/
        .media-body
          %small.text-muted Wendy Mitchell - On 19/12/2013
          %br/
          %a.t-overflow{href: ""} Integer a eros dapibus, vehicula quam accumsan, tincidunt purus
    .media.text-center.whiter.l-100
      %a{href: ""}
        %small VIEW ALL
/ Notification Drawer
#notifications.tile.drawer.animated
  .listview.narrow
    .media
      %a{href: ""} Notification Settings
      %span.drawer-close ×
    .overflow{style: "height: 254px"}
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/1.jpg", width: "40"}/
        .media-body
          %small.text-muted Nadin Jackson - 2 Hours ago
          %br/
          %a.t-overflow{href: ""} Mauris consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/2.jpg", width: "40"}/
        .media-body
          %small.text-muted David Villa - 5 Hours ago
          %br/
          %a.t-overflow{href: ""} Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/3.jpg", width: "40"}/
        .media-body
          %small.text-muted Harris worgon - On 15/12/2013
          %br/
          %a.t-overflow{href: ""} Maecenas venenatis enim condimentum ultrices fringilla. Nulla eget libero rhoncus, bibendum diam eleifend, vulputate mi. Fusce non nibh pulvinar, ornare turpis id
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/4.jpg", width: "40"}/
        .media-body
          %small.text-muted Mitch Bradberry - On 14/12/2013
          %br/
          %a.t-overflow{href: ""} Phasellus interdum felis enim, eu bibendum ipsum tristique vitae. Phasellus feugiat massa orci, sed viverra felis aliquet quis. Curabitur vel blandit odio. Vestibulum sagittis quis sem sit amet tristique.
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/1.jpg", width: "40"}/
        .media-body
          %small.text-muted Nadin Jackson - On 15/12/2013
          %br/
          %a.t-overflow{href: ""} Ipsum wintoo consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus
      .media
        .pull-left
          %img{alt: "", src: "/assets/sadmin/profile-pics/2.jpg", width: "40"}/
        .media-body
          %small.text-muted David Villa - On 16/12/2013
          %br/
          %a.t-overflow{href: ""} Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra
    .media.text-center.whiter.l-100
      %a{href: ""}
        %small VIEW ALL
%h4.page-title Главная страница
- if !current_user || current_user.new_record?
  = render 'themes/sadmin/login'
- else
  .block-area
    .row.m-container
      .col-md-5
        .tile
          %h2.tile-title Календарь
          #month_calendar
