- host = @resource.appointments.first.try(:organization).try(:domain)
- host = (host ? "#{host}." : '')+'oneclickbook.ru'
%p
  Здравствуйте, #{@resource.email}
%p
  == Чтобы восстановить пароль от сайта #{host} перейдите по ссылке для восстановления
  = link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :host => host), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :host => host)
