%table
  %tr
    %th Название
  - objects.each do |category_photo|
    %tr
      %td= link_to category_photo.name, [@organization, category_photo]
      - if  current_user && current_user.owner?( @organization )
        %td
          = link_to 'Редактировать', [:edit, @organization, category_photo], :class => 'btn btn-success'
          = link_to 'Удалить', [@organization, category_photo], method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-danger'
