- if current_user && current_user.owner_or_worker?(@organization)
  = link_to 'Добавить новую', [:new, :category_photo], :class => 'btn btn-success'
  %h1 Список ваших категорий для фотогалерей
- else
  %h1 Фотогалерея
= theme_render 'category_photos_list', :objects => @category_photos
