//--- Variables
@legendTaken: @blue;
@legendInaccesible: @grayLight;
@legendMissing: #4c4c4c;
@legendYour: @green;
@legendBorder: @black;
@legendCancel: @red;
@ordinaryPercent: .4;
@todayPercent: .7;
.legend {
  width: 10px;
  padding: 0 15px;
  margin-right: 10px;
  height: 10px;
  .box-shadow(0 5px 10px rgba(0,0,0, @todayPercent));
}

@import "themes/beauty/beauty.less";

@import "themes/default/mixins.less";
@import "themes/default/bootstrap.less";
@import "themes/default/calendar.less";
@import "themes/default/variables.less";
@import "themes/default/colorbox_bootstrap.less";
@import "themes/beauty/variables.less";
