@import "themes/sadmin/mixins.less";
@import "themes/sadmin/bootstrap.less";
@import "themes/sadmin/animate.less";
@import "themes/sadmin/font-awesome.less";
@import "themes/sadmin/form.less";
@import "themes/sadmin/calendar.less";
@import "themes/sadmin/style.less";
@import "themes/sadmin/icons.less";
@import "themes/sadmin/generics.less";

.as-link{
  cursor: pointer;
}

.AutoClearText {
  .m-icon('\f1e4')
}

.icon-eye {
  .m-icon('\f1d9')
}

.cost-block.affix {
  top: 0;
}

.popover {
  z-index: 10000;
}

@import "company.less";

//--- Variables
@legendTaken: #fff;
@legendInaccesible: #ccc;
@legendMissing: #4c4c4c;
@legendYour: #0f0;
@legendBorder: #000;
@legendCancel: #eee;
@ordinaryPercent: .4;
@todayPercent: .7;

@white: #fff;
@import "themes/default/calendar.less";
